/******* Design page ********/

.design-box {
    width: 41.65%;
}

.design-header>h4 {
    font-size: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.design-body>p {
    font-size: 0.3em;
}

.design-body>p>a {
    font-size: 1em;
}

.navigation>.design-button>h3 {
    background-color: #f9f9f9;
}


/* landscape tablet media querey */

@media only screen and (max-width: 1112px) {
    .design-box {
        align-items: center;
        width: 100%;
    }
}