/******* Development page ********/

.development-box {
    width: 41.65%;
}

.development-header>h4 {
    font-size: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.development-body>p {
    font-size: 0.3em;
}

.navigation>.development-button>h3 {
    background-color: #f9f9f9;
}


/* landscape tablet media querey */

@media only screen and (max-width: 1112px) {
    .development-box {
        align-items: center;
        width: 100%;
    }
}