/******* Development page ********/

.development-box {
    width: 41.65%;
}

.development-header>h4 {
    font-size: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.development-body>p {
    font-size: 0.3em;
}

.development-body>p>a {
    font-size: 1em;
}

/*temporary colour*/
.navigation>.development-button>h3 {
    background-color: #fefefe;
}


/* landscape tablet media querey */

@media only screen and (max-width: 1112px) {
    .development-box {
        align-items: center;
        width: 100%;
    }
    .development-body>p {
        font-size: 0.35em;
    }
    .nav-bar {
        height: 10vh;
    }
    .content {
        flex-direction: column-reverse;
        margin-top: 0;
    }
    /* fix this */
    .landing-image {
        margin-top: 3em;
    }
    .nav-bar {
        align-items: flex-end;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .navigation>a {
        width: 2.5em;
    }
}


/* phone media querey */

@media only screen and (max-width: 600px) {
    .development-header>h4 {
        font-size: 0.7em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .development-body>p {
        font-size: 0.5em;
    }
    .navigation>a {
        width: auto;
    }
    .navigation>a>h3 {
        padding-left: 1em;
        padding-right: 1em;
    }
}