body {
    font-family: 'Lato', sans-serif;
    background-color: #FEFEFE;
    color: #212121;
}


/* navigation bar */


/* Name and Tagline */

.name {
    font-family: 'Poppins', sans-serif;
}


/* Landing Image */


/* tablet media querey */


/* phone media querey */