* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: calc(10px + 5vmin);
    background-color: #FEFEFE;
    color: #212121;
}


/* navigation bar */

.nav-bar {
    display: flex;
    height: 16.66vh;
    max-width: 100%;
    align-items: center;
}

.nav-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8.33%;
}

.logo {
    background-image: url("../images/logo.svg");
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
}

.nav-name-box {
    display: flex;
    padding-bottom: 5px;
    padding-left: 5px;
}

.nav-name {
    font-size: 20px;
}

.socials {
    display: flex;
    margin-left: auto;
    margin-right: 8.33%;
    align-items: flex-end;
}

.linkedin {
    background-color: #212121;
    border-radius: 50px;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
    margin-right: 5%;
}

.github {
    background-color: #212121;
    border-radius: 50px;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
    margin-right: 5%;
}

.dribbble {
    background-color: #212121;
    border-radius: 50px;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
}


/* Content */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.33%;
}

h3 {
    font-size: 20px;
}


/* Name and Tagline */

.name {
    font-family: 'Poppins', sans-serif;
}


/* Landing Image */

.landing-image {
    background-image: url("../images/landing-image.svg");
    width: 7em;
    height: 7em;
    background-repeat: no-repeat;
}


/* tablet media querey */


/* phone media querey */