* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: calc(10px + 5vmin);
    background-color: #FEFEFE;
    color: #212121;
}


/* navigation bar */

.nav-bar {
    display: flex;
    height: 16.66vh;
    max-width: 100%;
    align-items: center;
}

.nav-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8.33%;
    text-decoration: none;
}

.nav-logo-name:hover {
    opacity: 60%;
}

.logo {
    background-image: url("../images/logo1.svg");
    background-position: center;
    background-size: contain;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
}

.nav-name-box {
    display: flex;
    padding-bottom: 1vh;
}

.nav-name {
    font-size: 0.3em;
}

.socials {
    display: flex;
    margin-left: auto;
    margin-right: 8.33%;
    align-items: flex-end;
    justify-content: center;
}

.linkedin {
    background-image: url("../images/linkedin.svg");
    background-position: center;
    background-size: contain;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.linkedin:hover {
    opacity: 60%;
}

.github {
    background-image: url("../images/github.svg");
    background-position: center;
    background-size: contain;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.github:hover {
    opacity: 60%;
}

.dribbble {
    background-image: url("../images/dribbble.svg");
    background-position: center;
    background-size: contain;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.dribbble:hover {
    opacity: 60%;
}

.medium {
    background-image: url("../images/medium.svg");
    background-position: center;
    background-size: contain;
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
}

.medium:hover {
    opacity: 60%;
}


/* Content */

.content {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-right: 8.33%;
    margin-left: 8.33%;
    justify-content: space-between;
}


/* Menu */

.navigation {
    padding-left: 4.15%;
    justify-content: space-between;
    width: 2.5em;
    text-align: center;
}

.navigation>a {
    margin-top: 0.75vh;
    text-align: center;
    width: auto;
    text-decoration: none;
}

.navigation>a>h3 {
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    border-radius: 5%;
    font-size: 0.35em;
}

.navigation>a>h3:hover {
    background-color: #f9f9f9;
}


/* Footer */

.foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 1em;
}

.foot>.coded-by>p {
    font-size: 0.23em;
}

.foot>.copyright>p {
    font-size: 0.23em;
}


/******* Landing page ********/


/* Name and Tagline */

.intro {
    padding-left: 4.15%;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.tagline-box {
    text-align: center;
}

.tagline {
    font-size: 0.45em;
}


/* Landing Image */

.landing-image {
    background-image: url("../images/landing-image.svg");
    width: 8em;
    height: 8em;
    background-repeat: no-repeat;
}


/******************************************************************/


/* landscape tablet media querey */

@media only screen and (max-width: 1112px) {
    .nav-bar {
        height: 10vh;
    }
    .content {
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .landing-image {
        margin-top: 3em;
    }
    .nav-bar {
        align-items: flex-end;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 8.33%;
        padding-right: 8.33%;
    }
    .navigation>a {
        width: 2.5em;
    }
}


/* phone media querey */

@media only screen and (min-width: 600px) {}